/* MOBILE VIEW */
.product {
  @include mobile();

  // Title
  .product__title {
    grid-area: title;
    text-align: center;
  }

  // Contributor/Author
  .product__author-name {
    text-align: center;

    span {
      color: #0071ce;
    }
  }

  // Date sales
  .product__sale {
    grid-area: sales-date;
    text-align: center;

    .sale__date {
      font-weight: bold;
    }
  }

  // Image
  .product__image {
    grid-area: image;

    img {
      width: 100%;
      max-width: 400px;
      display: block;
      margin: 0 auto;
    }
  }

  // Prices
  .product__prices {
    grid-area: prices;
    text-align: center;

    .price_tag {
      background-color: $color-price-tag;
      font-weight: bold;
      color: white;
      padding: .2rem .5rem;
      border-radius: .4rem;
    }

    .price__amount {
      margin-top: 1rem;

      p {
        font-weight: bold;
      }
    }
  }

  // Header Captions
  .header__caption {
    text-align: center;
    margin: 1.5rem 0;
    font-size: 1.8rem;
    color: #064E3B;
  }

  // Author Bio
  .product__author-bio {
    grid-area: author-bio;
    line-height: 1.5;
  }

  // Product Description
  .product__description {
    grid-area: description;

    span {
      line-height: 1.5;

      p {
        margin: 1.5rem 0
      }
    }
  }

  // Product Reviews
  .product__reviews {
    grid-area: reviews;

    .reviews {
      line-height: 1.5;
      margin: 1.5rem 0;
    }
  }

  // Product Retailers
  .product__retailers {
    grid-area: retailers;

    .retail__links {
      padding: 1rem 2rem;
      margin-top: 15px;

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          a {
            text-decoration: none;
            display: block;
            color: #4B5563;
            border: 1px solid darkgreen;
            text-align: center;
            border-radius: .5rem;
            background-color: #fff;
            transition: color 0.3s, background-color 0.3s;
            padding: .7rem;

            &:hover {
              background-color: #4B5563;
              color: white;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .paper {
    background-color: white;
    padding: 1.2rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: .5rem;
    line-height: 1.5;
  }

  .left-align {
    text-align: left;
  }
}


/* LARGE SCREENS */
@media screen and (min-width: 960px) {
  .product {
    @include desktop();

    .align {
      text-align: left;
    }

    // Header caption
    .header__caption {
      text-align: left;
    }

    .product__sale {
      border-bottom: 1px solid #D1D5DB;
      padding-bottom: 2.5rem;
    }

    // Image
    .product__image {
      img {
        width: 400px;
        height: auto;
      }
    }

    // Retailer Links
    .product__retailers {
      .retail__links {
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: .5rem;
      }
    }

  }
}
