/* VIEW PORTS */
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #F0F2F5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

/* MOBILE VIEW */
.product {
  display: grid;
  grid-template-areas: "title" "author" "sales-date" "image" "prices" "author-bio" "description" "reviews" "retailers";
  padding: 1.5rem;
  max-width: 900px;
  gap: 1.5rem;
  margin: 0 auto;
}
.product .product__title {
  grid-area: title;
  text-align: center;
}
.product .product__author-name {
  text-align: center;
}
.product .product__author-name span {
  color: #0071ce;
}
.product .product__sale {
  grid-area: sales-date;
  text-align: center;
}
.product .product__sale .sale__date {
  font-weight: bold;
}
.product .product__image {
  grid-area: image;
}
.product .product__image img {
  width: 100%;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}
.product .product__prices {
  grid-area: prices;
  text-align: center;
}
.product .product__prices .price_tag {
  background-color: #047857;
  font-weight: bold;
  color: white;
  padding: 0.2rem 0.5rem;
  border-radius: 0.4rem;
}
.product .product__prices .price__amount {
  margin-top: 1rem;
}
.product .product__prices .price__amount p {
  font-weight: bold;
}
.product .header__caption {
  text-align: center;
  margin: 1.5rem 0;
  font-size: 1.8rem;
  color: #064E3B;
}
.product .product__author-bio {
  grid-area: author-bio;
  line-height: 1.5;
}
.product .product__description {
  grid-area: description;
}
.product .product__description span {
  line-height: 1.5;
}
.product .product__description span p {
  margin: 1.5rem 0;
}
.product .product__reviews {
  grid-area: reviews;
}
.product .product__reviews .reviews {
  line-height: 1.5;
  margin: 1.5rem 0;
}
.product .product__retailers {
  grid-area: retailers;
}
.product .product__retailers .retail__links {
  padding: 1rem 2rem;
  margin-top: 15px;
}
.product .product__retailers .retail__links ul {
  margin: 0;
  padding: 0;
}
.product .product__retailers .retail__links ul li {
  list-style: none;
}
.product .product__retailers .retail__links ul li a {
  text-decoration: none;
  display: block;
  color: #4B5563;
  border: 1px solid darkgreen;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #fff;
  transition: color 0.3s, background-color 0.3s;
  padding: 0.7rem;
}
.product .product__retailers .retail__links ul li a:hover {
  background-color: #4B5563;
  color: white;
  text-decoration: underline;
}
.product .paper {
  background-color: white;
  padding: 1.2rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  line-height: 1.5;
}
.product .left-align {
  text-align: left;
}

/* LARGE SCREENS */
@media screen and (min-width: 960px) {
  .product {
    display: grid;
    grid-template-areas: "title" "author" "sales-date" "image" "prices" "author-bio" "description" "reviews" "retailers";
    padding: 1.5rem;
    max-width: 900px;
    gap: 1.5rem;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "image title" "image author" "image prices" "image sales-date" "image retailers" "image description" "author-bio description" "reviews description";
    gap: 1.5rem;
  }
  .product .align {
    text-align: left;
  }
  .product .header__caption {
    text-align: left;
  }
  .product .product__sale {
    border-bottom: 1px solid #D1D5DB;
    padding-bottom: 2.5rem;
  }
  .product .product__image img {
    width: 400px;
    height: auto;
  }
  .product .product__retailers .retail__links {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
